body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.w3-row-padding img {
    margin-bottom: 12px
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('lol.jpg');
    min-height: 100%;
}

body.dark-theme {
    color: #DDE6ED !important;
    background-color: #27374D;
}

.error-msg {
    color: red;
    font-size: small;
}

.audio-btn {
    background: #025464;
    margin: 0px 5px;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 1px 4px;
    font-family: 'Fira Code', monospace;
}

.wiki-link {
    background: #025464;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}